<!--
 * @Title: 
 * @Author: wzs
 * @Date: 2020-05-12 08:26:52
 * @LastEditors: wzs
 * @LastEditTime: 2020-05-15 14:30:50
 * @Description: 
 -->
<!-- 首页 -->
{include file="common/header"/}
<main id="app">
  <van-sticky>
    <van-nav-bar
      title="{$m}月订单情况"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    >
      <template #right>
        <van-icon name="notes-o" size="18"></van-icon>
      </template>
    </van-nav-bar>
    <van-grid :border="false" :column-num="2">
      <van-grid-item>
        <div class="num">{$dxl_num}</div>
        <div class="tit">订单数</div>
      </van-grid-item>
      <van-grid-item>
        <div class="num">￥{$dyj_num}</div>
        <div class="tit">销售额</div>
      </van-grid-item>
    </van-grid>
  </van-sticky>
  <div class="list">
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <div v-if="list.length > 0 || loading">
        <van-list
          v-model="loading"
          :finished="finished"
          finished-text="没有更多了"
          @load="onLoad"
        >
          <div class="item" v-for="item in list" :key="item">
            <van-cell :value="item.createtime">
              <template #title>
                <span class="custom-title">订单编号：{{item.orderid}}</span>
              </template>
            </van-cell>
            <van-cell center>
              <!-- <template #left-icon>
                  <van-icon name="user-o" style="line-height: inherit;" />
                </template> -->
              <template #label>
                <div class="item-inner">
                  <i class="van-icon van-icon-user-o van-cell__left-icon"
                    ><!----></i
                  >
                  {{item.name}}
                  <i
                    class="van-icon van-icon-phone-o van-cell__left-icon"
                    style="margin-left: 10px;"
                    ><!----></i
                  >
                  <a :href="'tel:' + item.tel">{{item.tel}}</a>
                </div>
              </template>
              <template #title>{{item.pro}}</template>
              <template #default>
                <div
                  style="color: #e7a132; font-weight: bold; font-size: 18px;"
                >
                  ￥{{item.price}}
                </div>
              </template>
            </van-cell>
          </div>
          <!-- <van-empty v-else description="暂无订单" /> -->
        </van-list>
      </div>
      <van-empty v-else description="暂无订单" />
    </van-pull-refresh>
  </div>
  <van-popup v-model="show" position="bottom" :style="{ height: '40%' }">
    <van-datetime-picker
      v-model="currentDate"
      type="year-month"
      title="选择年月"
      :min-date="minDate"
      :max-date="maxDate"
      :formatter="formatter"
      @confirm="onconfirm"
    ></van-datetime-picker>
  </van-popup>
  <!-- <van-tabbar
    v-model="active"
    @change="onChange"
    active-color="#e7a132"
    inactive-color="#822787"
  >
    <van-tabbar-item v-for="item in nav" :key="item" :icon="item.icon" to="/"
      >{{item.title}}</van-tabbar-item
    >
  </van-tabbar> -->
</main>
<script>
  var app = new Vue({
    el: "#app",
    components: {},
    data: {
      show: false,
      minDate: new Date(2020, 0, 1),
      maxDate: new Date(2025, 10, 1),
      currentDate: new Date(),
      active: 0,
      listactive: 0,
      type: ["{:date('m')}月订单", "全部订单"],
      nav: [
        {
          title: "订单",
          href: "/",
          icon: "orders-o",
        },
        {
          title: "我的",
          href: "/me",
          icon: "manager-o",
        },
      ],
      list: [],
      loading: false,
      finished: false,
      refreshing: false,
      page: 1,
    },
    methods: {
      onconfirm(value) {
        console.log(value.getTime()/1000);
        window.location.href = '/me?time=' + value.getTime()/1000
      },
      formatter(type, val) {
        if (type === "year") {
          return `${val}年`;
        } else if (type === "month") {
          return `${val}月`;
        }
        return val;
      },
      onClickLeft() {
        window.location.href = "/";
      },
      onClickRight() {
        this.show = true;
      },
      onLoad() {
        // 异步更新数据
        // setTimeout 仅做示例，真实场景中一般为 ajax 请求
        setTimeout(() => {
          if (this.refreshing) {
            this.list = [];
            this.refreshing = false;
          }
          this.getData();
          //   this.loading = false;
          //  /home/index/getdyorder
          //   for (let i = 0; i < 10; i++) {
          //     this.list.push(this.list.length + 1);
          //   }
          //   // 加载状态结束
          //   this.loading = false;
          //   // 数据全部加载完成
          //   if (this.list.length >= 40) {
          //     this.finished = true;
          //   }
        }, 300);
      },
      onRefresh() {
        setTimeout(() => {
          this.page = 1;
          this.list = [];
          this.finished = false;
          this.loading = true;
          this.onLoad();
          //   vant.Toast("刷新成功");
        }, 300);
      },
      getData() {
        let that = this;
        axios
          .get("/home/index/getdyorder?time={:input('time')}&page=" + that.page)
          .then((res) => {
            let data = res.data;
            if (data.code == 1) {
              if (data.last_page <= that.page) {
                this.finished = true;
              }
              if (that.page == 1) {
                that.list = data.data;
                that.loading = false;
                that.page++;
              } else {
                that.list = that.list.concat(data.data);
                that.loading = false;
                that.page++;
              }
            }
          });
      },
      onChange(e) {
        let href = this.nav[e].href;
        console.log(href);
        window.location.href = href;
      },
    },
    created() {
      this.loading = true;
      this.onLoad();
    },
  });
</script>
<style>
  #app {
    background-color: #f5f5f5;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  .van-nav-bar .van-icon {
    color: #822787;
  }
  .van-list {
    overflow: hidden;
  }
  .item {
    margin-top: 5px;
  }
  .item-inner {
    display: flex;
    align-items: center;
    height: 18px;
  }
  .item-inner i {
    margin-right: 5px;
    min-width: 1em;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
  }
  .item-inner a {
    color: inherit;
  }
  .van-cell__value {
    flex: none;
    /* width: 50px; */
  }
  .icon {
    border: 2px solid #fff;
    width: 4em;
    height: 4em;
    position: relative;
    border-radius: 100%;
    margin: 0 auto;
    color: #fff;
  }
  .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .me {
    color: #fff;
    background: #fff;
    text-align: center;
    padding: 5% 0;
    position: relative;
  }
  .me .inner {
    position: relative;
    z-index: 1;
  }
  .me::after {
    position: absolute;
    background-color: #822787;
    content: "";
    width: 300vw;
    height: 300vw;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 0;
  }
  .me .inner .title {
    margin-top: 10px;
  }
  .num {
    color: #822787;
    font-size: 5vw;
    font-weight: 500;
  }
  .tit {
    font-size: 3vw;
  }
  .van-sticky--fixed {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  /* .item-inner i::before {
    height: 24px;
    line-height: 24px;
  } */
</style>
{include file="common/footer"/}
